<div class="banner-con container-fluid ">
  <app-carousel [slides]="BannerList"></app-carousel>
</div>
<div class="services-info container-fluid">
  <div class="si-top container">
    <div class="si-top-row si-top-row1 row">
      <div class="top-row-elem top-row1-elem col">
        <div class="row1-elem-top">
          <div class="row-elem-title"><p>春季考试</p></div>
          <div class="row-elem-info"><span>年龄 8 – 25</span></div>
        </div>
        <div class="row1-elem-bottom">
          <div>
            <a href="#">查看更多</a>
          </div>
        </div>
      </div>
      <div class="top-row-elem top-row1-elem col">
        <div class="row1-elem-top">
          <div class="row-elem-title"><p>春季考试</p></div>
          <div class="row-elem-info"><span>年龄 8 – 25</span></div>
        </div>
        <div class="row1-elem-bottom">
          <div>
            <a href="#">查看更多</a>
          </div>
        </div>
      </div>
    </div>
    <div class="si-top-row si-top-row2 row">
      <div class="top-row-elem top-row2-elem col-4">
        <div class="row-elem-title"><p>奖学金</p></div>
      </div>
      <div class="top-row-elem top-row2-elem col-4">
        <div class="row-elem-title"><p>表演成绩</p></div>
      </div>
      <div class="top-row-elem top-row2-elem col-4">
        <div class="row-elem-title"><p>表演评估</p></div>
      </div>
    </div>
  </div>
  <div class="si-middle container-fluid">
    <div class="pro-list row">
      <app-pro-list-card *ngFor="let course of defaultCourses" CardType="index" imgUrl="../assets/img/main/proList/cp1.jpg" [title]="course.name"  class="pro-listcard col-3" [cardColor]="course.color"></app-pro-list-card>

    </div>
  </div>
  <div class="school-intro-con">
    <div class="school-intro container">
      <div class="row">
        <div class="intro-info col-lg-6 col-xs-12 col-md-12">
          <h2>贝绮艺术中心</h2>
          <div class="class-list">
            <ul>
              <li>a</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
              <li>e</li>
            </ul>
          </div>
          <div class="intro-content">
            <p>贝绮艺术中心吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦吧啦</p>
          </div>
          <div class="intro-address">
            地址: <p>位于吧啦吧啦吧啦吧啦</p>
          </div>
          <div class="contact-info">
            联系方式: <p>+1 888.438.3808</p>
          </div>
          <div class="intro-button-con">
            <button>点击这里查看更多</button>
          </div>
        </div>
        <div class="map-con col-6 d-none d-lg-block">
          <img src="../assets/img/main/map.png" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="sl-bottom container-fluid">
    <div class="row h-100">
      <div class="col-3" style="background-color: rgb(185,126,187)">
        <a href="">
          少儿舞蹈考级
          <br>
          年龄 2 – 7
        </a>
      </div>
      <div class="col-3" style="background-color: rgb(90,161,227)">
        <a href="">
          少儿主持考级
          <br>
          年龄 2 – 7
        </a>
      </div>
      <div class="col-3" style="background-color: rgb(111,195,84)">
        <a href="">
          少儿钢琴考级
          <br>
          年龄 2 – 7
        </a>
      </div>
      <div class="col-3" style="background-color: rgb(106,125,196)">
        <a href="">
          少儿美术考级
          <br>
          年龄 2 – 7
        </a>
      </div>
    </div>
  </div>
</div>
