<app-crumb-nav></app-crumb-nav>
<div class="videos-parent container-fluid">
  <div class="row">
    <div class="col-4">
      <h2>Children's and Youth Ballet</h2>
      <p>Click to see videos</p>
    </div>
    <div class="col-4">
      <h2>Children's and Youth Ballet</h2>
      <p>Click to see videos</p>
    </div>
    <div class="col-4">
      <h2>Children's and Youth Ballet</h2>
      <p>Click to see videos</p>
    </div>
  </div>
</div>
<div class="video-list container">
  <app-video-card class="video-card-con" [videoItemList]="videoItemList"></app-video-card>
</div>
