@import "~assets/css/common";
.encroll{
  .encroll-row{
    height: 510px;

  }

  margin: 80px 0;
  .form-con{
    height: 100%;

    form{
      height: 100%;

      padding: 35px;
      h2{
        text-align: center;
      }
      margin: 0 auto;
      @include boxShadow();
      *[class*=col-]{
        margin-right: 20px;
      }
      .row{
        align-items: center;
      }

      .age-label{
        color: #aaa;
        font-size: px2rem(16px);
      }
    }
  }


  .encroll-img-con{
    height: 100%;
    img{
      height: 100%;
    }
  }

}

