<div class="tearcher-list container-fluid">
  <div class="teacher-brand">
    <h1>Teachers</h1>
  </div>
  <div class="t-list-con container">
    <div class="row">
      <div class="col-4 teacher-card">
        <div>
          <img src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="teacher-name">
          <p>Monkey</p>
        </div>
      </div>
      <div class="col-4 teacher-card">
        <div>
          <img src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="teacher-name">
          <p>Monkey</p>
        </div>
      </div>
      <div class="col-4 teacher-card">
        <div>
          <img src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="teacher-name">
          <p>Monkey</p>
        </div>
      </div>
      <div class="col-4 teacher-card">
        <div>
          <img src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="teacher-name">
          <p>Monkey</p>
        </div>
      </div>
      <div class="col-4 teacher-card">
        <div>
          <img src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="teacher-name">
          <p>Monkey</p>
        </div>
      </div>
      <div class="col-4 teacher-card">
        <div>
          <img src="http://via.placeholder.com/300x300" alt="">
        </div>
        <div class="teacher-name">
          <p>Monkey</p>
        </div>
      </div>

    </div>

  </div>
</div>
