@import "~assets/css/common";

.pro-list-card{
  width: 100%;
  display: inline-block;
  padding: px2rem(25px);
  color: #ffffff;
  background-color: rgb(185, 126, 187);
  img{
    width: 100%;
  }
  .list-card-info{
    margin-top: px2rem(35px);
    & > div{
      text-align: center;
    }
    .card-subtitle{
      font-size: px2rem(15px);
    }
    .card-title{
      font-size: px2rem(24px);
    }

    button{
      background-color: rgb(185, 126, 187);
      border: px2rem(2px) solid #ffffff;
      padding: px2rem(13px) px2rem(19px);
      color: inherit;
      font-size: px2rem(14px);
      &:hover{
        color: #222222;
        background-color: #FFF;
      }
    }
  }


}
